.main {
margin-top: 425px;
text-align: center;
font-family: 'Montserrat', sans-serif;
color:#CACFD4;
background-color:#232B3A;
}

.words {
    font-size: 25px;
background-color:#232B3A;
}

.title {
    margin-bottom: 75px;
background-color:#232B3A;
}

body{

background-color:#232B3A;

}