.main {
margin-top: 425px;
text-align: center;
font-family: 'Montserrat', sans-serif;
}

.words {
    font-size: 25px;
}

.title {
    margin-bottom: 75px;
}

.changeButton {
    font-size: 16px;
    margin-top: 125px;
}